body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column; 
    margin-top: -8500px;
    align-items: flex-start; 
    width: 70px; 
    height: 9000px; 
}

.menu {
    list-style-type: none;
    display: none; 
    position: absolute; 
    background-color: rgba(51, 51, 51, 0.95); 
    margin-top: 0px;
    left: 50px; 
    width: 250px;
    height: 100vh;
}

.menu li {
    width: 100%; 
}

.menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 10px; 
}

.menu-icon {
    cursor: pointer;
}

.menu-icon  {
    width: 20px; 
    height: 20px; 
    padding: 15px;
}
.para-icon  {
    width: 25px; 
    height: 25px; 
    padding: 15px;
}
.show {
    display: block; 
}
.panel{
    background-color: rgb(214, 220, 226);
    width: 1250px;
    height: auto;
    margin-top: -50px;
}

.image-container {
    margin-top: 50px;
    margin-left: 50px;
}

.resized-image {
    width: 40px; 
    height: 40px;
    margin-top: 30px;
}

.titre1{
    margin-top: -40px;
    margin-left: 100px;
}

.head{
    height: 80px;
    margin-left: 90px;
    margin-right: 10px;
    border-bottom: 0.5px solid gray;
}

.panelBody{
    margin-top: 20px;
    margin-left: 90px;
}
.update{
    width: 300px;
    height: 20px;
    background-color: #60c0ec;
    margin-top: -80px;
    margin-left: 750px;
}
.intervalDate{
    margin-left: 800px;
    display: block;
    margin-top: -20px;
}
.stat1 {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin-top: 60px;
    margin-right: 15px;
    text-align: center;
    background-color: white;
    border-top: 5px solid #000;
}
.stat2 {
    display: inline-block;
    margin-right: 15px;
    width: 150px;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
    background-color: white;
    border-top: 5px solid green;
}
.stat3 {
    display: inline-block;
    margin-right: 15px;
    width: 150px;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
    background-color: white;
    border-top: 5px solid red;
}
.stat4 {
    display: inline-block;
    margin-right: 20px;
    width: 150px;
    padding: 10px;
    margin-top: 80px;
    text-align: center;
    background-color: white;
    border-top: 5px solid grey;
}
.stat5 {
    display: inline-block;
    margin-right: 20px;
    width: 150px;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
    background-color: white;
    border-top: 5px solid #000;
}

.stat6 {
    display: inline-block;
    margin-right: 20px;
    width: 250px;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
    background-color: white;
    border-top: 5px solid #000;
}


/* style.css */
.stats {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne suivante si plus de 5 éléments */
    gap: 10px; /* Espace entre les éléments */
    justify-content: space-between; /* Espace entre les éléments */
}


.stat span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}


.stat span:last-child {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: block;
}

.stat1 span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}


.stat1 span:last-child {
    font-size: 18px;
    color: black;
    display: block;
}

.stat2 span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}


.stat2 span:last-child {
    font-size: 18px;
    color: black;
    display: block;
}

.stat3 span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}


.stat3 span:last-child {
    font-size: 18px;
    color: black;
    display: block;
}

.stat4 span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}


.stat4 span:last-child {
    font-size: 18px;
    color: black;
    display: block;
}

.stat5 span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}


.stat5 span:last-child {
    font-size: 18px;
    color: black;
    display: block;
}

.stat6 span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}


.stat6 span:last-child {
    font-size: 18px;
    color: black;
    display: block;
}

/**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container2 {
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.h22 {
    margin-bottom: 2rem;
    color: #333;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
    font-size: 1.1rem;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #5cb85c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.btn {
    display: inline-block;
    background-color: #5cb85c;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #4cae4c;
    transform: translateY(-2px);
}

.messages {
    list-style-type: none;
    margin-top: 1rem;
    color: red;
}

.mt-3 {
    margin-top: 2rem;
}

.a2 {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}